{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}
<div class="container-fluid my-4">
    <img src="/static/telephone.jpg" class="d-block w-100" alt="img">
</div>
<h1 class="text-center my-4"> Contact Us </h1>
<form method="post" action="/contact">
{% csrf_token %}
 <div class="container-fluid my-4 px-4 md-4">
 <div class="mb-3  md-4">
    <label for="Name" class="form-label">Name</label>
    <input type="Name" class="form-control" id="Name" name="name" placeholder="Your Name">
 </div>
 <div class="mb-3 md-4">
    <label for="Email id" class="form-label">Email address</label>
    <input type="email" class="form-control" id="Email" name="email" placeholder="name@example.com">
 </div>
 <div class="mb-3  md-4">
    <label for="Message" class="form-label">Message</label>
    <textarea class="form-control" id="Message" name="message" rows="3"></textarea>
 </div>
 <button type="submit" class="btn btn-primary mb-3 md-4  btn-center">Submit</button>
 </div>
</form>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© 2021 Company, Inc</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About Us</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contacts</a></li>
        
      </ul>
    </footer>
  </div>
</div>
{% endblock body %}